.content__container_pos_margin_left-right {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 1024px) {
  .content__container_pos_margin_left-right {
    margin-left: 19px;
    margin-right: 19px;
  }
}
