.profile__user-container_margins_top-bottom {
  margin-top: 22px;
  margin-bottom: 22px; /*по макету 25 рх - подгонял под макет Пиксель*/
}

@media screen and (max-width: 767px) {
  .profile__user-container_margins_top-bottom {
    margin-top: 26px;
    margin-bottom: 32px; /*по макету 36 рх - подгонял под макет Пиксель*/
  }
}
