.header {
  position: relative;
  max-width: 880px;
  min-width: 320px;
  min-height: 74px;
  margin: 0 200px;
  margin-bottom: 40px;
  background-color: transparent;
  border-bottom: 1px solid #545454;
  /* opacity: 0.7;
  z-index: 0; */
}

@media screen and (max-widht: 320px) {
  .header {
    width: 100%;
  }
}
