.header {
  position: relative;
  max-width: 880px;
  min-width: 320px;
  min-height: 74px;
  margin: 0 200px;
  margin-bottom: 40px;
}

.header::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-widht: 320px) {
  .header {
    width: 100%;
  }
}
