.popup__form {
  color: var(--color__main-text_elements);
  width: 430px;
  box-sizing: border-box;
  min-width: 282px;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 37px;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: 282px;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
    margin: 0 19px;
  }
}