.element__image {
  width: 100%;
  min-height: 282px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  float: left;
  overflow: hidden;
  object-fit: cover;
}
