.form__submit_btn {
  appearance: none;
  border: 0;
  border-radius: 2px;
  background-color: #000000;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 132px;
  cursor: pointer;
  transition: opacity 0.2s ease-in 0.1s;
  margin: 0;
}

.form__submit_btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .form__submit_btn {
    font-size: 14px;
    padding: 15px 82px;
  }
}
