.profile__edit-btn_place {
  margin-top: 15px;
  margin-bottom: 34px;
}

@media screen and (max-width: 767px) {
  .profile__edit-btn_place {
    margin:0;
    position: absolute;
    right: -28px;
    bottom: 64px;
  }
}
