.profile__user-card {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile__user-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
