@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/vars/vars.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/page/__container/_pos/page__container_pos_padding_top-bottom.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__container/_pos/header__container_pos_margin_bottom.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo/_pos/header__logo_pos_margin-left.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__container/content__container.css);
@import url(../blocks/content/__container/_pos/content__container_pos_margin-bottom.css);
@import url(../blocks/content/__container/_pos/content__container_pos_margin_left-right.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__container/_pos/profile__container_pos_margin-bottom.css);
@import url(../blocks/profile/__container/_pos/profile__container_pos_margin_left-right.css);
@import url(../blocks/profile/__user-card/profile__user-card.css);
@import url(../blocks/profile/__user-avatar/profile__avatar.css);
@import url(../blocks/profile/__user/__user.css);
@import url(../blocks/profile/__user-container/profile__user-container.css);
@import url(../blocks/profile/__user-container/_pos/profile__user-container_pos_margin_top-bottom.css);
@import url(../blocks/profile/__user-container/_pos/profile__user-container_pos_margin_left-right.css);
@import url(../blocks/profile/__text/profile__text_narrow.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__user-job/profile__user-job.css);
@import url(../blocks/profile/__edit_btn/profile__edit_btn.css);
@import url(../blocks/profile/__edit_btn/_place/profile__edit_btn_place.css);
@import url(../blocks/profile/__edit_btn_picture/profile__edit_btn_picture.css);
@import url(../blocks/profile/__submit_btn/profile__submit_btn.css);
@import url(../blocks/profile/__submit_btn_picture/profile__submit_btn_picture.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__heading/element__heading.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/element__like_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/_pos/footer_pos_margin_left-right.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__container/form__container.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input-group/form__input-group.css);
@import url(../blocks/form/__input-group/_margin/form__input-group_margin_bottom.css);
@import url(../blocks/form/__input-text/form__input-text.css);
@import url(../blocks/form/__submit_btn/form__submit_btn.css);
@import url(../blocks/form/__input-container/form__input-container.css);
@import url(../blocks/form/__close_btn/form__close_btn.css);
@import url(../blocks/form/__close_btn/_place/form__close_btn_place.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_visible/popup_visible.css);
