@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/vars/vars.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/section/section.css);
@import url(../blocks/section/_size/section_size_narrow.css);
@import url(../blocks/header/header.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo/_place/header__logo_place.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__section/content__section.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);


@import url(../blocks/profile/__user-card/profile__user-card.css);
@import url(../blocks/profile/__user-avatar/profile__user-avatar.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__user/_margins/profile__user_margins_left-right.css);
@import url(../blocks/profile/__user/_margins/profile__user_margins_top-bottom.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__user-name/_narrow/profile__user-name_narrow.css);
@import url(../blocks/profile/__user-job/profile__user-job.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__edit-btn/_place/profile__edit-btn_place.css);
@import url(../blocks/profile/__edit-btn-picture/profile__edit-btn-picture.css);
@import url(../blocks/profile/__submit-btn/profile__submit-btn.css);
@import url(../blocks/profile/__submit-btn-picture/profile__submit-btn-picture.css);


@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__list-item/elements__list-item.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__heading/element__heading.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/element__like_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__footer/page__footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/form/form.css);

@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input-group/form__input-group.css);
@import url(../blocks/form/__input-group/_margin/form__input-group_margin_bottom.css);
@import url(../blocks/form/__input-text/form__input-text.css);
@import url(../blocks/form/__submit-btn/form__submit-btn.css);
@import url(../blocks/form/__input-container/form__input-container.css);
@import url(../blocks/form/__close-btn/form__close-btn.css);
@import url(../blocks/form/__close-btn/_place/form__close-btn_place.css);


