.profile__info {
  min-width: 336px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 22px;
  color: var(--color__main-text_profile);
}
