.profile__user-name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 16px;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 33px;
  }
}
