.profile__user-name {
  width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 8px; /*по макету 16рх подгонял под Пиксель Перфект*/
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .profile__user-name {
    width:75%;
    font-size: 27px;
    line-height: 33px;
    padding: 0;
    text-align: center;
  }
}
