.form__input-group {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
/* Элемент создан на случай расширения количества полей для редактирования профиля пользователя */